<script id="add-comment-template" type="text/x-jquery-tmpl">
  <li>
    <textarea id="comment"></textarea>
  </li>
  <li id="save-cancel">
    <button id="save">Save</button>
    <a href="#" id="cancel">cancel</a>
  </li>
</script>
