<form id="add-image-form" action="/edit/<%= image[:id] %>" method="post">
  <%= erb :"edit-image-template", :locals => {:image => image} %>
</form>

<%= erb :"image-list", :locals => {:images => images} %>
