<a href="/images/<%= image[:id] %>">
  <img src="<%= image[:url] %>" width="150" height="100" alt="<%= image[:description] %>" data-bind="class selected; alt description">
  <span class="image-label" data-bind="text name"><%= image[:name] %></span>
</a>
